/* common css */
@import url(https://db.onlinewebfonts.com/c/5ab21e5fd6ce76e3b7a7d42cbf75bb39?family=Arquitecta+W00+Bold);
::placeholder {
    color: #000000 !important;
    opacity: 0.3 !important;
  }
/* Button CSS */
.btn-bg {
    background-color: #F05523;
}

body {
    font-family: "Arquitecta W00 Bold";
    color: #000000;
}

/* Tailwind css */
.rounded-md {
    border-radius: 1.375rem 
}
.max-w-md {
    max-width: 32rem;
}

/* Main background  */
.bookify-bg {
    background-color: #fee4d5;
    padding: 4rem ;
}

/* App css */
span {
    color: #F05523;
}

.list-text {
    color: #000;
}

.inputs-border {
    border: 1px solid #F05523;
}

.separator-line {
    border: 1px solid #F05523;
    width: 50%;
}

.padding-form {
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.filter-input {
    width: 30%;
}

/* Calendar CSS */
.calendar-height {
    height: 13rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Table CSS */
.table-body {
    border: 2px solid #F05523;
    padding-bottom: 30px;
}

/* Toast CSS */
.toast {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 30px 40px;
    border-radius: 5px;
    z-index: 9999;
  }

/* Delete Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}





